{% comment %} Custom Buy Box Section for Be Yours Theme {% endcomment %}
<div class="buy-box">
  <form id="buy-box-form">
    <div class="purchase-type">
      <label><input type="radio" name="purchase_type" value="subscription" checked> Subscribe & Save</label>
      <label><input type="radio" name="purchase_type" value="onetime"> One Time</label>
    </div>
    <div class="quantity-selector">
      <button type="button" class="qty-btn" data-qty="1">1</button>
      <button type="button" class="qty-btn" data-qty="2">2</button>
      <button type="button" class="qty-btn" data-qty="3">3</button>
    </div>
    <div id="price-display">
      <span class="original-price">$31.99</span> <span class="sale-price">$26.99</span>
    </div>
    <button type="submit" class="add-to-cart-btn">Add to Cart</button>
    <div class="trust-message">Customer Favorite! Less than 3% return this product.</div>
  </form>
</div>
<script src="{{ 'product-buy-box.js' | asset_url }}" defer></script>